/*Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343*/
/*
font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;*/


html, body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #F2F1E8;
  font-family: 'Merriweather', serif;
}

/* +++++++++++++++ INDEX.HTML +++++++++++++++ */

/* === HEADER === */

header {
  width: 100%;
  margin: 0;
  padding: 1em;
  display: flex;
  background-color: #fff;
}
header nav {
  margin: 0 auto;
  align-self: center;
  font-family: 'Roboto', sans-serif;
}
nav a {
  text-transform: uppercase;
  padding: 0 2em;
  color: #2B2F26;
}
nav a:nth-child(3) {
  padding-right: 100px;
}
nav a:hover {
  color: #CD5D67;
}
nav a:active {
  color: #968772;
}

/* ===== MAIN ===== */

main {
  width: 100%;
  padding: 1em;
}
main h1 {
  text-align: center;
  font-size: 4em;
}
main h2 {
  text-align: center;
  font-size: 2.5em;
}
/* MAIN - IMAGE ROW1 */
.image_row_1 {
  width: 100%;
  margin: 0 auto;
}
.image_row_1 ul {
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.image_row_1 ul li {
  list-style: none;
}
.image_row_1 ul li p {
  display: inline-block;
  color: #fff;
  background-color: rgba( 0, 0, 0, 0.8 );
  font-weight: 400;
  padding: 1em;
  margin-top: 20em;
}
.product-1 {
  background-image: url("images/optimized/product-1.jpg");
  background-size: 100% 100%;
  width: 60%;
  height: 25em;
  padding: 1em;
  padding: 0;
}
.product-2 {
  background-image: url("images/optimized/product-2.jpg");
  background-size: 100% 100%;
  width: 19%;
  height: 25em;
  padding: 0;
}
.product-3 {
  background-image: url("images/optimized/product-3.jpg");
  background-size: 100% 100%;
  width: 19%;
  height: 25em;
  padding: 0;
}
/* MAIN - IMAGE ROW2 */
.image_row_2 {
  width: 100%;
  margin: 0 auto;
}
.image_row_2 ul {
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.image_row_2 ul li {
  list-style: none;
}
.image_row_2 ul li p {
  display: inline-block;
  color: #fff;
  background-color: rgba( 0, 0, 0, 0.8 );
  font-weight: 400;
  padding: 1em;
  margin-top: 13em;
}
.product-4 {
  background-image: url("images/optimized/product-4.jpg");
  background-size: 100% 100%;
  width: 19%;
  height: 18em;
  padding: 1em;
  padding: 0;
}
.product-5 {
  background-image: url("images/optimized/product-5.jpg");
  background-size: 100% 100%;
  width: 19%;
  height: 18em;
  padding: 0;
}
.product-6 {
  background-image: url("images/optimized/product-6.jpg");
  background-size: 100% 100%;
  width: 39%;
  height: 18em;
  padding: 0;
}
.product-7 {
  background-image: url("images/optimized/product-7.jpg");
  background-size: 100% 100%;
  width: 19%;
  height: 18em;
  padding: 0;
}

/* ===== FOOTER ===== */
footer {
  width: 100%;
  margin: 0;
  padding: 1em;
  background-color: rgba( 0, 0, 0, 0.8 );
  color: #fff;
  font-weight: bolder;

}
