html, body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  line-height: 1.8;
  background-color: #F2F1E8;
  font-family: 'Merriweather', serif;
  color: #131511;
}

/* ++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++ INDEX.HTML +++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++ */

/* ========== HEADER ==================== */

header {
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 1em;
  display: flex;
  background-color: #fff;
}
header nav {
  margin: 0 auto;
  align-self: center;
  font-family: 'Roboto', sans-serif;
}
nav a {
  text-transform: uppercase;
  padding: 0 2em;
  color: #2B2F26;
}
nav a:nth-child(3) {
  padding-right: 100px;
}
nav a:hover {
  color: #CD5D67;
}
nav a:active {
  color: #968772;
}

/* ========== MAIN ====================== */

main {
  width: 100%;
  padding: 1em;
}
main section {
  padding-top: 2em;
}
main h1 {
  text-align: center;
  font-size: 4.5em;
  font-weight: 500;
  margin-bottom: .25em
}
main h2 {
  text-align: center;
  font-size: 3em;
  font-weight: 500;
  margin-top: .25em;
  margin-bottom: 1.3em;
}
/* --- MAIN - image_row_1 --- */
.image_row_1 {
  width: 100%;
  margin: 0 auto;
}
.image_row_1 ul {
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.image_row_1 ul li {
  list-style: none;
}
.image_row_1 ul li p {
  display: inline-block;
  color: #fff;
  background-color: rgba( 0, 0, 0, 0.8 );
  font-weight: 400;
  padding: 1em;
  margin-top: 20em;
}
.product-1 {
  background-image: url("images/optimized/product-1.jpg");
  background-size: 100% 100%;
  width: 60%;
  height: 25em;
  padding: 1em;
  padding: 0;
}
.product-2 {
  background-image: url("images/optimized/product-2.jpg");
  background-size: 100% 100%;
  width: 19%;
  height: 25em;
  padding: 0;
}
.product-3 {
  background-image: url("images/optimized/product-3.jpg");
  background-size: 100% 100%;
  width: 19%;
  height: 25em;
  padding: 0;
}

/* --- MAIN - image_row_2 --- */
.image_row_2 {
  width: 100%;
  margin: 0 auto;
}
.image_row_2 ul {
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.image_row_2 ul li {
  list-style: none;
}
.image_row_2 ul li p {
  display: inline-block;
  color: #fff;
  background-color: rgba( 0, 0, 0, 0.8 );
  font-weight: 400;
  padding: 1em;
  margin-top: 13em;
}
.product-4 {
  background-image: url("images/optimized/product-4.jpg");
  background-size: 100% 100%;
  width: 19%;
  height: 18em;
  padding: 1em;
  padding: 0;
}
.product-5 {
  background-image: url("images/optimized/product-5.jpg");
  background-size: 100% 100%;
  width: 19%;
  height: 18em;
  padding: 0;
}
.product-6 {
  background-image: url("images/optimized/product-6.jpg");
  background-size: 100% 100%;
  width: 39%;
  height: 18em;
  padding: 0;
}
.product-7 {
  background-image: url("images/optimized/product-7.jpg");
  background-size: 100% 100%;
  width: 19%;
  height: 18em;
  padding: 0;
}

/* ========== FOOTER ====================== */
footer {
  width: 100%;
  margin: 0;
  padding: 1em;
  background-color: rgba( 0, 0, 0, 0.8 );
  color: #fff;
  font-weight: bolder;

}

/*Background: #F2F1E8
Text: #131511
√ Inline Link: #968772
√ Inline Link (Hover): #967343
√ Navigation Background: #FFFFFF
√ Navigation Text: #2B2F26
√ Navigation Text (Hover): #CD5D67
√ Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343*/

/* ++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++ ABOUT.HTML +++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++ */

/*Header and Footer properties inherited from index.html*/

/* ========== MAIN ====================== */

/* --- SECTION - top_main --- */
.top_main h1 {
  text-align: center;
  font-size: 4.5em;
  font-weight: 500;
}
.main_about {
  width: 64%;
  margin: 0 auto;
}
.top_main img {
  width: 9.2em;
  height: 7.5em;
  float: left;
  margin: 0 1.2em 1em 0;
}
.top_main a {
  color: #968772;
}
.top_main a:hover {
  color: #967343;
}
.top_main p, blockquote {
  font-size: 1.4em;
}
.top_main blockquote {
  border-left: solid 2px gray;
  margin-left: 0;
  padding-left: 2em;
  color: gray;
}
.top_main h3 {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 0;
}
.top_main p:last-child {
  margin-top: 0;
}



/* --- SECTION - middle_main --- */




/* --- SECTION - bottom_main --- */
